<main class="container mx-auto px-4 my-28">
    <div class="grid md:grid-cols-2 gap-8">
        <!-- Product Images -->
        <div class="space-y-4 flex  flex-col items-center justify-center ">
            <div class="aspect-square w-1/2  bg-gray-100   dark:bg-gray-800 rounded-xl overflow-hidden">
                <img [src]="productDetails?.imageCover" alt="Reebok Zig Kinetica 3"
                    class="w-full h-full object-cover" />
            </div>
            <div class="grid grid-cols-4 gap-3 ">
                @for (p of productImage; track $index) {
                <button
                    class="aspect-square bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden border-2 border-primary">
                    <img [src]="p" alt="Thumbnail 1" class="w-full h-full object-cover" />
                </button>}

            </div>
        </div>

        <!-- Product Info -->
        <div class="mt-20 ">
            <div class="flex items-start justify-between">
                <div>

                    <h1 class="text-3xl font-bold mb-2">{{productDetails?.title}}</h1>

                
                </div>
                <div class="text-2xl font-bold">{{productDetails?.price}} {{"COMMON.EGP" | translate}}</div>
            </div>

            <div>
                {{productDetails?.description}}
            </div>
            <div class="mx-auto"> 
                <i class="fa fa-star text-yellow-500 "></i>
                {{productDetails?.ratingsAverage}}
            </div>





            <!-- Add to Cart -->
            <div class="flex gap-4 md:mt-56 ">

                <button (click)="addToCard(productDetails?._id)"
                    class="btn w-full bg-[#D7C3F1] p-3 mt-28 rounded-lg ">{{"COMMON.ADD_TO_CART" | translate}}</button>


                <button
                    class="w-14 h-14 flex items-center justify-center mt-28   rounded-xl hover:border-primary">
                    <svg (click)="toggleWishlist()" [ngClass]="{
                            'fill-red-500 stroke-none': isInWishlist(productDetails?._id ),
                            'fill-slate-100 stroke-violet-300': !isInWishlist(productDetails?._id)}"
                             class="w-10 h-10"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </button>
            </div>


        </div>
    </div>



</main>