<section class="min-h-screen flex items-center justify-center p-4">
  <div class="absolute -z-10 inset-0 overflow-hidden">
    <div
      class="absolute w-[180px] h-[180px] sm:w-[200px] sm:h-[200px] bg-blue-400/20 rounded-full top-[20%] right-[10%] sm:right-[32%]"
    ></div>

    <div
      class="absolute w-[180px] h-[180px] sm:w-[200px] sm:h-[200px] bg-purple-400/20 rounded-full bottom-[20%] left-[10%] sm:left-[34%]"
    ></div>
  </div>

  <div
    [formGroup]="forgotForm"
    class="container w-[350px] sm:w-[350px] m-auto text-center p-8 z-10 bg-white/10 backdrop-blur-md rounded-xl shadow-lg"
  >
    @if (currentStep === 1) {
    <div>
      <h2 class="text-2xl font-bold text-purple-900 mb-4">
        {{ "FORGET_PASSWORD.RESET_PASSWORD" | translate }}
      </h2>
      <div class="mb-4">
        <input
          type="email"
          formControlName="email"
          placeholder=" {{ 'FORGET_PASSWORD.EMAIL_PLACEHOLDER' | translate }}"
          class="w-full p-3 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-purple-500"
        />

        @if (forgotForm.get('email')?.touched &&
        forgotForm.get('email')?.invalid) {
        <div class="text-red-600 text-sm mt-1">
          @if (forgotForm.get('email')?.hasError('required')) {
          <p>{{ "FORGET_PASSWORD.EMAIL_REQUIRED" | translate }}</p>
          } @if (forgotForm.get('email')?.hasError('email')) {
          <p>{{ "FORGET_PASSWORD.EMAIL_INVALID" | translate }}</p>
          }
        </div>
        }
      </div>

      <button
        (click)="sendResetCode()"
        [disabled]="forgotForm.get('email')?.invalid || isLoading"
        class="w-full bg-purple-700 text-white hover:bg-gradient-to-r from-pink-200 via-purple-500 to-blue-400 transition-colors duration-300 py-2 px-4 rounded-lg"
      >
        @if (isLoading) {
        <i class="fas fa-spinner fa-spin"></i>
        } @else {
        {{ "FORGET_PASSWORD.SEND_VERIFICATION" | translate }}
        }
      </button>
    </div>
    } @if (currentStep === 2) {
    <div>
      <h2 class="text-2xl font-bold text-purple-900 my-8">
        {{ "FORGET_PASSWORD.ENTER_CODE" | translate }}
      </h2>

      <div class="mb-4">
        <input
          type="text"
          formControlName="resetCode"
          placeholder="{{ 'FORGET_PASSWORD.CODE_PLACEHOLDER' | translate }}"
          class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500"
        />

        @if (forgotForm.get('resetCode')?.touched &&
        forgotForm.get('resetCode')?.invalid) {
        <div class="text-red-600 text-sm mt-1">
          {{ "FORGET_PASSWORD.CODE_REQUIRED" | translate }}
        </div>
        }
      </div>

      <button
        (click)="verifyResetCode()"
        [disabled]="forgotForm.get('resetCode')?.invalid || isLoading"
        class="w-full bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 transition"
      >
        @if (isLoading) {
        <i class="fas fa-spinner fa-spin"></i>
        } @else {
        {{ "FORGET_PASSWORD.VERIFY" | translate }}
        }
      </button>
    </div>
    } @if (currentStep === 3) {
    <div>
      <h2 class="text-2xl font-bold text-purple-900 mb-4">{{ 'FORGET_PASSWORD.NEW_PASSWORD' | translate }}</h2>

      <div class="mb-4">
        <input
          type="password"
          formControlName="newPassword"
          placeholder="{{ 'FORGET_PASSWORD.PASSWORD_PLACEHOLDER' | translate }}"
          class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500"
        />

        @if (forgotForm.get('newPassword')?.touched &&
        forgotForm.get('newPassword')?.invalid) {
        <div class="text-red-600 text-sm mt-1">
          @if (forgotForm.get('newPassword')?.hasError('required')) {
          <p>{{ 'FORGET_PASSWORD.PASSWORD_REQUIRED' | translate }}</p>
          } @if (forgotForm.get('newPassword')?.hasError('pattern')) {
          <div
            class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <div>
              <span class="font-medium">{{ 'FORGET_PASSWORD.PASSWORD_PATTERN' | translate }}</span>
              <ul class="mt-1.5 list-disc list-inside">
                <li>{{ 'FORGET_PASSWORD.PASSWORD_RULE_1' | translate }}</li>
                <li>{{ 'FORGET_PASSWORD.PASSWORD_RULE_2' | translate}}</li>
              </ul>
            </div>
          </div>
          }
        </div>
        }
      </div>

      <button
        (click)="resetPassword()"
        [disabled]="forgotForm.get('newPassword')?.invalid || isLoading"
        class="w-full bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 transition disabled:opacity-50"
      >
        @if (isLoading) {
        <i class="fas fa-spinner fa-spin"></i>
        } @else
         { {{
          'FORGET_PASSWORD.SAVE_NEW_PASSWORD' | translate
         }}}
      </button>
    </div>
    }

    <div class="mt-4 text-center">
      <a
        routerLink="/login"
        class="text-purple-600 hover:underline hover:text-purple-800 cursor-pointer"
        >{{ 'FORGET_PASSWORD.BACK_TO_LOGIN' | translate }}</a
      >
    </div>
  </div>
</section>
